<!-- start custom head snippets -->

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?525a1a6d1d4bf4cb65612a23aca10551";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135881568-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135881568-3');
</script>
<!--
<script data-ad-client="ca-pub-4868665651965553" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->



